/* Font Import */
@font-face {
    font-family: "Figtree";
    src: url("fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typewriter";
    src: url("fonts/CutiveMono-Regular.ttf") format("truetype");
}


.ref-containter {
    background-color: #f9f9f9; 
    border-left: 4px solid #88304E; 
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
    transition: transform 0.2s, box-shadow 0.2s;
}


.ref-containter:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Main section heading */
.ref-containter h2 a {
    color: #88304E;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.2s;
    font-family: Figtree;
}

.ref-containter h2 a:hover {
    color: #88304E; 
    text-decoration: underline;
}

/* Author styling */
.ref-containter .author {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    font-family: Figtree;
}

/* Paragraph styling */
h1 {
    color: white;
    padding: 50px 20px;
    font-family: Figtree;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.ref-containter p {
    color: #666;
    line-height: 1.5;
    margin: 5px 0;
    font-size: 1em;
    font-family: Typewriter;
}

.references-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

#bird-title {
    color: white;
    font-family: Typewriter;
    font-size: 20px;
    text-align: center;
    padding: 0 0 50px 0;
}

#bird-photo {
    width: 300px; 
    height: px;
    margin: 0px auto 30px; 
    display: block;
}
